/*
creado por:

@khrizenriquez Khriz Enriquez 20/07/2013 13:01 horas
*/
/*importando archivos importantes*/
@import url('../normalize.css');
@import url('../bootstrap.min.css');
@import url('../bootstrap-responsive.min.css');
@import url('../elusive/elusive-webfont.css');
/*importando archivos importantes*/
/*atributos creados por mi*/

/*-----------------------------------------------------afectando selectores universales*/
body
{
	background: #0697DB;
	font-size: 16px;
	padding: 0.5%;
	text-align: center;
}
h2
{
	color: #fffffa;
	text-align: center;
}
h3
{
	text-align: left;
}
html
{
	background: #0697DB;
	text-align: center;
}
nav, #divContenedorBlogsHechos
{
	display: block;
	text-align: center;
	vertical-align: top;
}
nav div
{
	display: inline-block;
	margin: auto;
	text-align: center;
}
p
{
	padding: 0.5em;
	transition: all 0.5s ease;
}
p a:hover
{
	background: #303030;
	border-radius: 0em;
	padding: 0.2em;
	color: #fffffa;
	text-decoration: none;
	transition: all 0.5s ease;
}
/*-----------------------------------------------------afectando selectores universales*/

/*-----------------------------------------------------afectando selectores por id*/
#btnGuardar
{
	width: 40%;
	margin: auto;
	text-align: center;
}
#divPublicarBlogDerecha
{
	background: #BED3C4;
	border-radius: 0em 0em 0.5em 0.5em;
	margin: auto 1em auto auto;
	padding: 0em;
	text-align: left;
	/*transform: skew(2deg, 2deg);*/
	width: 30%;
}
#divContenedorBlogsHechos
{
	background: #BED3C4;
	border-radius: 0em 0em 0.5em 0.5em;
	margin: auto;
	padding: 0em;
	text-align: left;
	width: 65%;
}
#divContenedorBlogsHechos, #divPublicarBlogDerecha
{
	display: inline-block;
	transition: all 0.5s ease;
	overflow: hidden;
	vertical-align: top;
}
#divTituloComentarios
{
	background: #202020;
	padding: 0.5em;
	text-align: center;
	vertical-align: top;
}
#divTituloComentarios figure
{
	width: 15%;
}
#divTituloComentarios figure, h2
{
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#divTituloPosts
{
	background: #202020;
	padding: 0.5em;
	text-align: center;
	vertical-align: top;
}
#divTituloPosts figure
{
	width: 7%;
}
#divTituloPosts figure, h2
{
	display: inline-block;
	vertical-align: top;
}
/*#divPublicarBlogDerecha:hover
{
	cursor: pointer;
	transform: none;
	transition: all 0.5s ease;
}*/
#lblPieDesarrollador
{
	color: #fffffa;
	font-size: 16px;
}
#lblPieDesarrollador a
{
	color: #fffffa;
}
#lblTituloPost, #lblContenidoPost, #txtTituloPost, #txtAreaContenidoPost, #btnGuardar
{
	font-size: 16px;
}
#sectionContenedora
{
	margin: auto;
	text-align: center;
	vertical-align: top;
}
/*-----------------------------------------------------afectando selectores por id*/

/*-----------------------------------------------------afectando selectores de clase*/
/*-----------------------------------------------------afectando selectores de clase*/

/*----------------------------------------------------media querys*/
@media (min-width: 600px) and (max-width: 800px)
{
	/*-----------------------------------------------------afectando selectores universales*/
	body
	{
		background: #0697DB;
		font-size: 16px;
		padding: 0.5%;
		text-align: center;
	}
	h2
	{
		color: #fffffa;
		text-align: center;
	}
	h3
	{
		text-align: center;
	}
	html
	{
		background: #0697DB;
		text-align: center;
	}
	/*-----------------------------------------------------afectando selectores universales*/

	/*-----------------------------------------------------afectando selectores por id*/
	#btnGuardar
	{
		width: 60%;
		margin: auto;
		text-align: center;
	}
	#divPublicarBlogDerecha
	{
		background: #BED3C4;
		border-radius: 0em 0em 0.5em 0.5em;
		margin: auto 1em auto auto;
		padding: 0em;
		text-align: left;
		/*transform: skew(2deg, 2deg);*/
		width: 30%;
	}
	#divContenedorBlogsHechos
	{
		background: #BED3C4;
		border-radius: 0em 0em 0.5em 0.5em;
		margin: auto;
		padding: 0em;
		text-align: left;
		width: 65%;
	}
	#divContenedorBlogsHechos, #divPublicarBlogDerecha
	{
		display: inline-block;
		transition: all 0.5s ease;
		vertical-align: top;
	}
	#divTituloComentarios
	{
		background: #202020;
		padding: 0.5em;
		vertical-align: top;
	}
	#divTituloComentarios figure
	{
		width: 22%;
	}
	#divTituloComentarios figure, h2
	{
		display: inline-block;
		vertical-align: top;
	}
	#divTituloPosts
	{
		background: #202020;
		padding: 0.5em;
		text-align: center;
		vertical-align: top;
	}
	#divTituloPosts figure
	{
		width: 12%;
	}
	#divTituloPosts figure, h2
	{
		display: inline-block;
		vertical-align: top;
	}
	/*#divPublicarBlogDerecha:hover
	{
		cursor: pointer;
		transform: none;
		transition: all 0.5s ease;
	}*/
	#lblPieDesarrollador
	{
		color: #fffffa;
		font-size: 16px;
	}
	#lblPieDesarrollador a
	{
		color: #fffffa;
	}
	#lblTituloPost, #lblContenidoPost, #txtTituloPost, #txtAreaContenidoPost, #btnGuardar
	{
		font-size: 16px;
	}
	#sectionContenedora
	{
		margin: auto;
		text-align: center;
		vertical-align: top;
	}
}
@media (max-width: 600px)
{
	/*-----------------------------------------------------afectando selectores universales*/
	body
	{
		background: #0697DB;
		font-size: 16px;
		padding: 0%;
		text-align: center;
	}
	h2
	{
		color: #fffffa;
		text-align: center;
	}
	h3
	{
		text-align: center;
	}
	html
	{
		background: #0697DB;
		text-align: center;
	}
	/*-----------------------------------------------------afectando selectores universales*/

	/*-----------------------------------------------------afectando selectores por id*/
	#btnGuardar
	{
		width: 80%;
		margin: auto;
		text-align: center;
	}
	#divPublicarBlogDerecha
	{
		background: #BED3C4;
		border-radius: 0em 0em 0.5em 0.5em;
		margin: 2% auto auto auto;
		padding: 0em;
		text-align: left;
		/*transform: skew(2deg, 2deg);*/
		width: 100%;
	}
	#divContenedorBlogsHechos
	{
		background: #BED3C4;
		border-radius: 0em 0em 0.5em 0.5em;
		margin: 2% auto auto auto;
		padding: 0em;
		text-align: left;
		width: 100%;
	}
	#divContenedorBlogsHechos p
	{
		text-align: justify;
	}
	#divContenedorBlogsHechos, #divPublicarBlogDerecha
	{
		display: inline-block;
		transition: all 0.5s ease;
		vertical-align: top;
	}
	#divTituloComentarios
	{
		background: #202020;
		padding: 0.5em;
		vertical-align: top;
	}
	#divTituloComentarios figure
	{
		width: 19%;
	}
	#divTituloComentarios figure, h2
	{
		display: inline-block;
		vertical-align: top;
	}
	#divTituloPosts
	{
		background: #202020;
		padding: 0.5em;
		text-align: center;
		vertical-align: top;
	}
	#divTituloPosts figure
	{
		width: 20%;
	}
	#divTituloPosts figure, h2
	{
		display: inline-block;
		vertical-align: top;
	}
	#lblPieDesarrollador
	{
		color: #fffffa;
		font-size: 16px;
	}
	#lblPieDesarrollador a
	{
		color: #fffffa;
	}
	#lblTituloPost, #lblContenidoPost, #txtTituloPost, #txtAreaContenidoPost, #btnGuardar
	{
		font-size: 16px;
	}
	#sectionContenedora
	{
		margin: auto;
		text-align: center;
		vertical-align: top;
	}
}
/*----------------------------------------------------media querys*/
/*atributos creados por mi*/